.section4{
	background-image: url("i/heder-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	.section4-cont{
		text-align: center;
	}
	h3{
	  font-size: 27.152px;
	  color: rgb( 51, 0, 0 );
	  font-weight: bold;
	}
	p{
	  font-size: 14.99px;
	  color: rgb( 51, 0, 0 );
	}

}