.banner{
	height: 580px;
	background-image: url('i/главная.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
	.text{
		color: white;
		font-size: 33.6px;
		line-height: 44px;
		font-family: 'harmoniasanspro';
		font-weight: bold;
		position:relative;
		top: -30px;
		display:inline;		
		text-shadow: 1px 1.732px 7px rgb( 0, 0, 0 );
	}
	.text:after{
		position:absolute;
		left:0;
		bottom:-10px;
		width:100%;
		border-bottom:2px solid #fff;
		content:"";
		box-shadow: 1px 1.732px 7px rgb( 0, 0, 0 );
	}
	.loc{
		.zamok-test{
			opacity: 0;
			transition: 0.5s;
			background-color: rgba(255,255,255,0.9);
			font-family: 'harmoniasanspro';
			padding: 5px 0;
			max-width: 200px;
			text-align:center;
			border-radius: 5px;
			position: relative;
			top: -15px;
			left: 35px;
		}
		.lock:hover + .zamok-test{
			opacity: 1;
		}
	}
	.lock{
		width: 30px;
		height: 30px;
		display:inline-block;
		border-radius:50%;
		background-image: url('i/замок.png');
		background-repeat: no-repeat;
		background-color: white;
		background-position: center;
		opacity: 0.8;
		transition: 0.5s;
		&:hover{
			opacity: 1;
		}
	}
	.lock1{
		top: 50/374*100%;
		left: 840/1280*100%;
		position: absolute;
	}
	.lock2{
		top: 200/374*100%;
		left: 800/1280*100%;
		position: absolute;
	}
	.lock3{
		top: 70/374*100%;
		left: 1100/1280*100%;
		position: absolute;
	}
}
