// Color system

$brown:    #330;
$danger:   #ff0000;
$red: #ff0000;
$white: #fff;
$font-family-base: 'harmoniasanspro';
$h2-font-size: 70px;

$colors: (
  "brown":      $brown
  
);

$theme-colors: (
  "brown":      $brown
);

// Links

$link-color: $brown;

// grid

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 960px,
  xl: 965px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 965px
);

// padding nav

$nav-link-padding-y: 0;
$nav-link-padding-x: 0;
